POSTGRES_IMAGE=postgres:14
POSTGRES_DB=devopsdb
POSTGRES_USER=devops
POSTGRES_PASSWORD=devops

RABBITMQ_IMAGE=rabbitmq:3.12-management
RABBITMQ_DEFAULT_USER=devops
RABBITMQ_DEFAULT_PASS=devops
RABBITMQ_ERLANG_COOKIE=devops-rabbit-cookie
RABBITMQ_HOME=/tmp/rabbitmq
RABBITMQ_DATA_DIR=/tmp/rabbitmq
RABBITMQ_URL=amqp://devops:devops@rabbitmq:5672//

BACKEND_PORT=8000
FRONTEND_PORT=3000
NGINX_PORT=80
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672

CHOKIDAR_USEPOLLING=true
